html{
  font-size: 2.5em;
  text-align: center;
  background-image: url(./pexels-karolina-grabowska-4033634.jpg);
  vertical-align: middle;
  padding: .67em .67em;
  cursor: pointer;
  width: auto;
  height: auto;
}

button{
  flex: auto;
  font-size: 1.5em;
  text-align: center;
  vertical-align: middle;
  padding: .67em .67em;
  cursor: pointer;
  margin: .5em 15% 2em 15%;
  color: #7c0404;
  border: 2px solid #db2d2d;
  background-color:cyan;
  border-radius: 0;
  font-size: 1.5em;
  font-weight: bolder;
  padding-left: 2em;
  padding-right: 2em;
  
}
